

.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.plxImg1 {
    background-image: url("./hwforward.jpg");
}

.plxImg2 {
    background-image: url("./hwreverse.jpg");
}

a {
    color: rgb(226, 226, 228)
}

.social {
    position: relative;
    margin-top: 205px;
}
/* adjust margin if i add text to about me */

.aboutMe {
    background-color: #242223;
}

.aboutText {
    color: rgb(214, 214, 214);


}